<!DOCTYPE html>
<html>
<head>
	<%= require('html-loader!./layout/header-common.html') %>
	<title>index</title>
</head>
<body>

	<!-- <%= require('html-loader!./layout/nav-simple.html') %> -->
	<%= require('html-loader!./layout/nav.html') %>
	<!--
	<div></div>
	<a class="link">link</a>
	<a class="link-text">link-text</a>
	<a class="btn">btn</a>
	<a class="btn btn-mini">minibtn</a>
	<div class="loading"></div>
 	<img src="../../image/banner/banner1.jpg"> 
	<div>
		<i class="fa fa-address-book-o"></i>
	</div>
	-->
	<%= require('html-loader!./layout/footer.html') %>
</body>
</html>